<mat-card>Ingrese los signos vitales del paciente</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmSignos="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ritmo_respiratorio" required formControlName="ritmo_respiratorio">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlPaciente" formControlName="paciente">
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
      <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
        {{ p.nombres }} {{p.apellidos}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="fecha" required formControlName="fecha">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signosvitales' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
